<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Importador de CNAB</title>
  </head>
  <style>
    .p-red {
      color: red;
    }
  </style>
  <body>
    <form
      enctype="multipart/form-data"
      action="{% url 'handle_file'%}"
      method="post"
    >
      {% csrf_token %}
      <p>Upload File: <input type="file" name="filename" /></p>

      <p><input type="submit" value="Upload" /></p>
      <p class="p-red">
        Não foi possível completar sua solicitação. Tente novamente ou verifique
        os dados do arquivo.
      </p>
    </form>
  </body>
</html>
